<h1>Bronco Tutorials</h1>

<div class="video-container" style="margin-bottom: 2rem;">
  <h3>How to Setup the Bronco</h3>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/R4cBuW3TrD0"
    title="Bronco Setup Tutorial"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>
  </iframe>
</div>

<div class="video-container" style="margin-bottom: 2rem;">
  <h3>How to Run the Bronco</h3>
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/EfuPPV_A9V4"
    title="Bronco Run Tutorial"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>
  </iframe>
</div>

<%= link_to 'Back to Leaderboards', root_path, class: 'btn btn-secondary' %>
