// ...existing code above play option iframe...
-        <% if play.youtube_embed_url %>
-          <div class="play-video" style="margin:1rem 0;">
-            <iframe width="320" height="180" src="<%= play.youtube_embed_url %>" frameborder="0" allowfullscreen></iframe>
-          </div>
-        <% end %>
+        <% if play.video_url.present? %>
+          <p><a href="<%= play.video_url %>" target="_blank" rel="noopener">Watch Video</a></p>
+        <% end %>
// ...existing code below...
